<form class="form-4" action="/../models/auth.php" method="POST">               <p>        <label for="login">Логин</label>        <input value="{{session.login}}" type="text" name="login" placeholder="Login" required>    </p>    <p>        <label for="password">Пароль</label>        <input value="{{session.pass}}" type="password" name='pass' placeholder="Pass" required>    </p>     <p>        <input class ="login_button" type="submit" name="submit" value="Continue">    </p>      </form>