<!DOCTYPE html><html lang="en"><head>    {% include 'v_head.tmpl'%}</head><body>    <div class="conteiner">        <header class="head">   {% include 'v_header.tmpl'%}        </header>            <main>                <section class="galary">                    	{{data.content|raw}}                </section>            </main>    </div></body></html>