
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e804'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */